.profile-container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  box-sizing: border-box;
}

.profile {
  max-width: 90%;
  width: 800px;
  height: auto;
  border: 1px solid rgb(9, 9, 130);
  border-radius: 25px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
}

.head {
  background-color: white;
  width: 100%;
  max-width: 350px;
  padding: 1.5rem;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1.5rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
}

.profile img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
}

.head h2 {
  text-align: center;
  text-transform: capitalize;
  letter-spacing: 1px;
  font-weight: 500;
  color: rgb(9, 9, 130);
}

.money {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.money div {
  border-bottom: 1px solid rgb(9, 9, 130);
  padding-bottom: 5px;
}

.money h3 {
  font-size: 1rem;
  font-weight: 700;
  color: rgb(9, 9, 130);
}

main {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

.moving-money {
  width: 200px;
  height: 70px;
  background-color: white;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 0.5rem;
}

.moving-money div {
  background-color: rgb(203, 202, 202);
  padding: 0.6rem;
  border-radius: 5px;
}

.moving-money h3 {
  color: rgb(9, 9, 130);
  font-weight: 500;
}

.investCoins {
  overflow-x: auto;
  max-width: 200px;
  height: 80px;
  display: flex;
  flex-direction: column;
}

.investCoins li {
  display: flex;
  justify-content: space-between;
  width: 160px;
  font-size: 0.8rem;
  margin-top: 2px;
}

.sellBtn {
  border: none;
  background-color: blue;
  color: white;
  cursor: pointer;
  border-radius: 4px;
  padding: 0.3rem;
}

.sellBtn:hover {
  background-color: white;
  outline: 2px solid blue;
  color: blue;
}

/* Responsive Design */
@media (max-width: 768px) {
  .profile {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .head {
    width: 100%;
    max-width: 300px;
  }

  .moving-money {
    width: 150px;
    height: 50px;
    font-size: 0.8rem;
  }
}

@media (max-width: 480px) {
  .profile img {
    width: 70px;
    height: 70px;
  }

  .profile {
    max-width: 350px;
    flex-direction: column;
    padding: 1rem;
  }

  .head {
    height: auto;
    width: 100%;
  }

  .head h2 {
    font-size: 1rem;
  }

  .money h3 {
    font-size: 0.9rem;
  }

  .moving-money {
    max-width: 120px;
    height: 40px;
  }

  .moving-money h3 {
    font-size: 0.7rem;
  }
}
